
<form method="post" action="fileuploadservlet" enctype="multipart/form-data">
    <input type="file" name="file" />
<input type ="checkbox" name = "overwrite" value="overwrite"/>
<input type="submit">
</form>